<p id="notice"><%= notice %></p>

<div class="section">
    <div class="container">
        <div class="column is-centered">

            <div class="column is-two-fifths is-offset-one-quarter">
                <h2 class="title is-1">Event Details</h2>
                
                <p>
                  <strong>Location:</strong>
                  <%= @event.location %>
                </p>

                 <p>
                  <strong>Date:</strong>
                  <%= @event.date %>
                </p>

                <%= link_to 'Edit', edit_event_path(@event) %> |
                <%= link_to 'Back', events_path %>
            </div>
        </div>
    </div>
</div>

